
/* Variables definitions
   ========================================================================== */

$black: #000000;
$white: #FFFFFF;
$eyOffBlack: #2E2E38;
$eyMidnightBlack:#1a1a24;
$eyGrayDark: #404040;
$eyGrayLight: #e0e0e1;
$eyYellow: #FFE600;
$eyOffYellow: #ddc805;
$eyOffWhite:#F6F6FA;

$eyPrimaryBlue: #71c6d0;
$eyPrimaryGreen: #67be9c;
$eyPrimaryPurple: #a182ba;


