.csg-asset-wrapper{
        width: 100%;
		height: 100%;
		background-image: url('https://eygb.sharepoint.com/sites/CSG-Test-V2/CSG-Job-Submission-Tool/SiteAssets/CSG-JST-site/assets/img/banner.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		position: fixed;
		&.assets{
			position: relative;
		}
}