.csg-form{
    &-error-Block {
        color: red;
        background-color: rgba(246, 246, 250, 0.93);
        margin-bottom: 10px;
        padding: 20px;
        font-size: 15px;
    }
    &-wrapper{
        width: 100%;
        margin-top: 75px;
        @include mq($from: desktop) { 
            width: 97%;
          }
    }
    &-tableFormat{
        padding: 55px;
    }
    &-table{
        width: 100%;
        tr td{
            width: 25%;
            color: $eyOffBlack;
            font-size: 22px;
            padding-bottom: 10px;
        }
    }
    &-Title{
     color: $eyOffWhite!important;   
     font-size: 25px;
     font-family: EYInterstate-Regular;
     @include mq($from: tablet) { 
        font-size: 19px;
    }
    @include mq($from: desktop) { 
        font-size: 25px;
    }
    }
    &-selectedAssets{
        padding: 0;
        &-title{
            font-size: 15px;
            font-family: EYInterstate-Light;
            color: $eyOffWhite;
            display: inline-block;
            margin-right: 15px;
            @include mq($from: tablet) { 
                margin-right: 30px;
                font-size: 16px;
            }
            @include mq($from: desktop) { 
                margin-right: 84px;
                font-size: 20px;
            }
        }
        &-rightSection{
            line-height: 0;
        }
    }
    &-selectedAssets-listItem{
        background-color: $eyOffBlack;
        list-style: none;
        color: $eyYellow;    
        padding: 5px;
        font-size: 16px;
        margin-bottom: 13px;
        @include mq($from: tablet) { 
            padding: 15px;
            font-size: 20px;
        }
        @include mq($from: desktop) { 
            padding: 35px 20px;
            font-size: 25px;
        }
        .topWrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; 
            align-items: center;
            @include mq($from: desktop) { 
                flex-wrap: nowrap;
            }
            .radio-wrapper{
                display: flex;
                flex-wrap: nowrap;
                margin-top: 8px;
                fieldset {
                    display: inline-block;  
                    margin-right: 25px;                  
                }
            }
        }
        
        &-edit{
            background-image: url('https://eygb.sharepoint.com/sites/CSG-Test-V2/CSG-Job-Submission-Tool/SiteAssets/CSG-JST-site/assets/img/edit.png');
            font-size: 0;           
            width: 27px;
            height: 25px;
            background-position: center;
            background-size: 90%;
            background-repeat: no-repeat;
            cursor: pointer;
            display: inline-block;
            margin-right: 20px;
        }
        &-delete{
            background-image: url('https://eygb.sharepoint.com/sites/CSG-Test-V2/CSG-Job-Submission-Tool/SiteAssets/CSG-JST-site/assets/img/delete.png');
            font-size: 0;           
            width: 12px;
            height: 25px;
            background-position: center;
            background-size: 90%;
            background-repeat: no-repeat;
            cursor: pointer;
            display: inline-block;
            @include mq($from: tablet) { 
				width: 14px;
			}
            @include mq($from: desktop) { 
				width: 20px;
			}
        }
    }
    &-first-step,&-second-step,&-third-step{
        position: relative;
        margin-bottom: 10px;
        background-color: rgba(246,246,250,0.93);
        padding: 85px 10px;
        font-family: EYInterstate-Light; 
        @include mq($from: tablet) { 
            padding: 110px 30px 20px 30px;
        }
        &-wrapper{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }

    &-third-step{
        margin-bottom: 35px;
    }
    &-second-step-wrapper {
        margin-bottom: 15px;
    }
    &-third-step-wrapper {
        .csg-form-input{
            flex-basis: 100%;         
            font-family: EYInterstate-Light; 
              @include mq($from: desktop) { 
                flex-basis: 80%;
              }
            
            label{
                flex-basis: 100%;
                @include mq($from: tablet) { 
                    flex-basis: 25%;
                }
                .csg-form-note{
                    margin-top: 5px;
                    padding-right: 10px;
                }
            }
            textarea{
                flex-basis: 100%;
                height: 250px;
                resize: none;
                @include mq($from: tablet) { 
                    flex-basis: 75%;
                }
            }
            .csg-form-characterCount {
                text-align: right;
                display: flex;
                justify-content: flex-end;
                flex-basis: 100%;
            }
        }
    }
    &-uploader{
        display: flex;
        flex-wrap: wrap;
        .csg-filepicker{
            flex-basis: 100%;
        }
        .csg-form-uploadSection{
            ul{
                margin-top: 15px;
                position: relative;
            }
            ul li{
                list-style: none;
                padding-right: 60px;
                border-top: 1px solid $eyOffBlack;
                padding-top: 15px ;
                padding-bottom: 15px ;
                .delete{
                    top: 20%;
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    background-color: black;
                    font-size: 0;
                    background-image: url('https://eygb.sharepoint.com/sites/CSG-Test-V2/CSG-Job-Submission-Tool/SiteAssets/CSG-JST-site/assets/img/delete.png');
                    background-repeat: no-repeat;
                    display: block;
                    width: 12px;
                    height: 16px;
                   
                }
            }
        }
    }
    &-input {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 14px;
        @include mq($from: tablet) { 
            flex-basis: 100%;
            margin-bottom: 16px;
            flex-wrap: nowrap;
        }
        @include mq($from: desktop) { 
            flex-basis: 48%;
            margin-bottom: 30px;
        }
        &-group{
            flex-basis: 60%;
            display: flex;
            flex-wrap: wrap;
            input[type='text'],input[type='email'],input[type='number']{
                flex-basis: 100%;
                margin-bottom: 5px;
            }
            span{
                display: block;
                flex-basis: 100%;
            }
        }
        .csg-form-note{
            font-size: 14px;
            line-height: 22px;
            margin: 0;
        }
        .csg-form-files{
            height: 160px;
        }
        select{
            width: 40%;
            padding: 3px 2px;
            overflow: hidden;
            position: relative;
            background-color: #F6F6FA;
            &:after {
                content: '';                
                width: 0;
                height: 0;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid #2E2E38;
                position: absolute;
                top: 8px;
                right: 9px;
            }
        }
        &.extraCol{
            select{
                flex-basis: 16%;
                background-color: #F6F6FA;
            }
            .text-wrapper {
                flex-basis: 41%;
                margin-left: 28px;
                textarea{
                    overflow: hidden;
                    width: 100%;
                    height: 71%;
                    resize: none;
                }
            }
        } 
        option {
            font-size: 15px;
            margin-bottom: 8px;
            background-color: #F6F6FA;
            &:hover {
                font-weight: bold;
                background: none;
            }
        }
        option[value="?"] {
            display: none;
        }
        input[type='text'],input[type='email'],input[type='number']{
            border: 1px solid $eyOffBlack;
            background-color: $white;
            height: 36px!important;   
              
        }
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance:textfield;
        }
        input[name='emailID']{
            border: none;
            background-color: transparent;
        }
        .disableInput{
            border: 0;
            background: none;
        }
        input,.input-wrapper{
            flex-basis: 60%;
            font-size: 18px;
            font-weight: 500;
        }
       
        label{
            flex-basis: 100%;
            font-size: 16px;
            font-weight: 500;
            @include mq($from: tablet) { 
                font-size: 18px;
                flex-basis: 40%;
              }
              @include mq($from: desktop) { 
                font-size: 20px;
              }
        }
        &-email{
            border: 0;
            outline: 0;
        }
    }
    &-step-heading{
        background-color: $eyYellow;
        color: $eyOffBlack!important;
        position: absolute;
        left: 0px;
        top: 25px;
        margin: 0;
        padding-left: 30px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15px;
        font-size: 18px;
        @include mq($from: tablet) { 
            font-size: 19px;
          }
          @include mq($from: desktop) { 
            font-size: 22px;
          }
    }
    &-button-container{
        display: flex;
        flex-wrap: nowrap;
    }
    &-button-holder{
        margin-right: 30px;
        button{
            background-color: $eyOffBlack;
            color: $eyOffWhite;
            font-size: 22px;
            border: 0!important;
            &:hover{
                color: $eyYellow;
            }
        }
    }
    &-reviewWrapper{
        background-color: $eyOffWhite;        
    }
}