<div class="csg-home-wrapper" ng-controller="homeCtrl">
	<header>
		<a href="#" class="btn-header">CSG Showcase</a>
	</header>
	<div class="csg-home-innerwrapper">
		<p class="csg-home-introLine">Hello <span class="csg-home-introLine-Yellow">{{userName}}</span> , select button below to get started</p>
		<h1 class="csg-home-heading heading-bar">
			<span class="csg-home-heading-Top">CSG</span> 
			<span class="csg-home-heading-Bottom">Submission Tool</span>
		</h1>
		<div class="csg-home-btnWrapper">
			<a ui-sref="services" class="btn-submit">
				<span class="btn-submit-outerWrapper"></span>
			<span class="btn-submit-outerCircle">
				<span class="btn-submit-ellipse"></span>
			</span>
			<span class="btn-submit-text">				
			</span>			
			</a>
		</div>
		
	</div>
	<footer>
		<div class="ey-logo">
			<a href="https://eygb.sharepoint.com/sites/CreativeWorkflow/Test/UK/SitePages/Creative-Workflow.aspx/home" class="ey-logo-anchor"><img src="https://eygb.sharepoint.com/sites/CreativeWorkflow/Test/SiteAssets/job-submission-tool/assets/img/Logo.png" alt="logo" class="ey-logo-img"/></a>
		</div>
	</footer>
</div>

