<div class="csg-product-wrapper" ng-controller="csgReviewCtrl">
    <div class="csg-service-innerWrapper">
        <h2 class="heading-bar">Review</h2>
        <div class="csg-form-reviewWrapper">
            <div class="csg-form-tableFormat">
                <table>
                    <tr>
                        <td>Requestor</td><td>{{formData.requestor}}</td><td>Due By</td><td></td>
                    </tr>
                    <tr>
                        <td>Alternative Contact</td><td>{{formData.altContact}}</td><td>Due By</td><td></td>
                    </tr>
                    <tr>
                        <td>Engagement Code</td><td>{{formData.requestor}}</td><td>Due By</td><td></td>
                    </tr>
                    <tr>
                        <td>Requestor</td><td>{{formData.requestor}}</td><td>Due By</td><td></td>
                    </tr>
                    <tr>
                        <td>Requestor</td><td>{{formData.requestor}}</td><td>Due By</td><td></td>
                    </tr>
                </table>
            </div>
            <div class="csg-form-submitBtn">
                <button type="button" ng-click="jobPosted($event)">
                    Submit
                </button>
            </div>
        </div>
   
    <footer>
        <div class="ey-logo">
            <a href="https://eygb.sharepoint.com/sites/CreativeWorkflow/Test/UK/SitePages/Creative-Workflow.aspx/home" class="ey-logo-anchor"><img src="https://eygb.sharepoint.com/sites/CreativeWorkflow/Test/SiteAssets/job-submission-tool/assets/img/Logo.png" alt="logo" class="ey-logo-img"/></a>
        </div>
    </footer>
   </div>
</div>