<div class="csg-product-wrapper" ng-controller="csgThankYouCtrl">
    <div class="csg-service-close-btn"><a href="https://eygb.sharepoint.com/sites/CreativeWorkflow/Test/UK/SitePages/Creative-Workflow.aspx/home">close</a></div>
    <div class="csg-service-innerWrapper">
        <h2 class="heading-bar">Thank You {{userName}}</h2>
    </div>
    <div class="csg-service-block">
        <p class="csg-service-block-para">CSG has received your order and will contact you shortly.</p>
        <p class="csg-service-block-para">Close this window to return to the home page.</p>
    </div>
   
</div>